@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cream: #F7F2DF;
  --dark-green: #516138;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sft-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-sft-serif);
  --hero-position: 57%;
  --color-cream: var(--cream);
  --color-dark-green: var(--dark-green);
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  scroll-behavior: smooth;
}
